{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="hero-card text-center text-white mt-4">
    <h1 class="display-4 fw-bold mb-3">Didi Flower Shop</h1>
    <p class="lead mb-4">Цветя за любов, изненада и специални моменти</p>

    <a href="/products" class="btn btn-light btn-lg hero-btn">
      Разгледай букетите
    </a>

    <a href="/products?category=8%20март" class="btn btn-outline-light btn-lg ms-2 hero-btn">
      Колекция 8 март
    </a>
  </div>
</div>
{% endblock %}